<mat-card class="filter__card-container">
  <span>Filter Search</span>
  <mat-divider [inset]="true"></mat-divider>
  Facility Type
  <mat-select (change)="selectFacility()" [(ngModel)]="facilityTypeSelectModel">
    <mat-option *ngFor="let f of getFacilityTypes()" [value]="f.FacilityType">{{f.FacilityType}}</mat-option>
  </mat-select>
  <br />
  <mat-divider [inset]="true"></mat-divider>
  Insurance
  <mat-select (change)="selectInsurance()" ng-model="selectedInsurance" [(ngModel)]="insuranceSelectModel">
    <mat-option *ngFor="let i of getInsuranceTypes()" [value]="i.InsuranceName">{{i.InsuranceName}}</mat-option>
  </mat-select>
  <br />
  <mat-divider [inset]="true"></mat-divider>
  Procedure
  <mat-select (change)="selectProcedure()" ng-model="selectedProcedure" [(ngModel)]="procedureSelectModel">
    <mat-option *ngFor="let p of getProcedureTypes()" [value]="p.Description">{{p.Description}}</mat-option>
  </mat-select>
  <br />
  <mat-divider [inset]="true"></mat-divider>
  Specialty
  <mat-select (change)="selectSpecialty()" ng-model="selectedSpecialty" [(ngModel)]="specialtySelectModel">
    <mat-option *ngFor="let s of getSpecialtyTypes()" [value]="s.Description">{{s.Description}}</mat-option>
  </mat-select>
  <br *ngIf="isSpecselected" />
  <mat-select *ngIf="isSpecselected" ng-model="selectedPhysician">
    <option *ngFor="let ph of phys">Dr. {{ph.LastName}}, {{ph.FirstName}}</option>
  </mat-select>
  <br />
  <mat-divider [inset]="true"></mat-divider>
  <span>Range(Miles)</span>
  <mat-slider style="width:100%" thumbLabel min="1" max="100" step="1" value="1.5"></mat-slider>
</mat-card>